<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xi.authorization.mapper.SysPopedomAndResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xi.authorization.entity.SysPopedomAndResource">
        <id column="id" property="id" />
        <result column="condition_expression" property="conditionExpression" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="restrict_type" property="restrictType" />
        <result column="scope_string" property="scopeString" />
        <result column="organization_id" property="organizationId" />
        <result column="popedom_id" property="popedomId" />
        <result column="resource_id" property="resourceId" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, condition_expression, create_by, create_time, restrict_type, scope_string, organization_id, popedom_id, resource_id, user_id
    </sql>

</mapper>
