<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xi.authorization.dao.SysPopedomMapper">
    <resultMap id="BasePopedomMap" type="com.xi.authorization.model.SysPopedom" >
        <id column="popdeom_id" property="popdeom_id" jdbcType="INTEGER" />
        <result column="menu_id" property="menu_id" jdbcType="INTEGER" />
        <result column="popedom" property="popedom" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="desciption" property="desciption" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="PopedomMenuResultMap" type="com.xi.authorization.model.SysPopedom" extends="BasePopedomMap">
        <!--collection:定义子对象集合映射-->
        <!--association:完成子对象的映射-->
        <!--property:子对象在父对象中的属性名-->
        <!--javaType:子对象的java类型-->
        <!--autoMapping:完成子对象的自动映射，若开启驼峰，则按驼峰匹配-->
         <association property="menu" javaType="com.xi.authorization.model.SysMenu" autoMapping="true">
             <id column="menu_id" property="menu_id"></id>
         </association>
    </resultMap>
    <select id="GetAllPopedom" resultMap="PopedomMenuResultMap">
         SELECT * FROM sys_popedom a left join sys_menu b on a.menu_id=b.menu_id
    </select>
    <select id="GetPopedomByMenuId" parameterType="java.lang.Integer" resultMap="PopedomMenuResultMap">
          SELECT * FROM sys_popedom a left join sys_menu b on a.menu_id=b.menu_id WHERE a.menu_id = #{id}
    </select>
    <insert id="insertMenu" parameterType="com.xi.authorization.model.SysPopedom" useGeneratedKeys="true">
         insert into sys_menu(menu_name,sortno,parent_id,url) values(#{menu_name},#{sortNO},#{parent_id},#{url})
    </insert>
</mapper>